<%= form_for(@mind_tag) do |f| %>
  <% if @mind_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mind_tag.errors.count, "error") %> prohibited this mind_tag from being saved:</h2>

      <ul>
      <% @mind_tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
