<h1>Listing mind_streams</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mind_streams.each do |mind_stream| %>
      <tr>
        <td><%= link_to 'Show', mind_stream %></td>
        <td><%= link_to 'Edit', edit_mind_stream_path(mind_stream) %></td>
        <td><%= link_to 'Destroy', mind_stream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mind stream', new_mind_stream_path %>
