<h1>Listing mind_tags</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mind_tags.each do |mind_tag| %>
      <tr>
        <td><%= link_to 'Show', mind_tag %></td>
        <td><%= link_to 'Edit', edit_mind_tag_path(mind_tag) %></td>
        <td><%= link_to 'Destroy', mind_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mind tag', new_mind_tag_path %>
