<p id="notice"><%= notice %></p>

<p>
  <strong>Mark:</strong>
  <%= @user_mind_tag_mark.mark %>
</p>

<%= link_to 'Edit', edit_user_mind_tag_mark_path(@user_mind_tag_mark) %> |
<%= link_to 'Back', user_mind_tag_marks_path %>
